/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

input[type="buscador_top"] { 
    background-color: white; 
    font-family: inherit; 
    border: 1px solid #cccccc; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    -ms-border-radius: 2px; 
    -o-border-radius: 2px; 
    border-radius: 2px; 
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    color: rgba(0, 0, 0, 0.75); 
    display: block;
    font-size: 14px; 
    margin: 0 0 5px 0;
    padding: 6px; 
    height: 30px;
    width: 30%;
    -webkit-transition: all 0.15s linear; 
    -moz-transition: all 0.15s linear; 
    -o-transition: all 0.15s linear; 
    transition: all 0.15s linear;
    float: right;
    position: static;

}

input[type="buscador_top"].oversize { 
    font-size: 17px;
    padding: 1px 1px;
}

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.tam_completo {
    width: 100%;
    height: 40px;
    padding: 5px 3px 5px 3px;
}

div.color_default {
    background-color: #66c9e9;
}

p.titulo {
    width: 300px;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
/*    font-family: fantasy;*/
    text-shadow: 1px 1px 0px rgba(230, 230, 230, 1), 2px 2px 0px rgba(200,200,200, 1), 3px 3px 0px rgba(180,180,180, 1), 4px 4px 0px rgba(160,160,160, 1), 8px 8px 20px rgba(0,130,255, 0.5);
/*    -webkit-transform: skew(5deg, 2deg);
    -moz-transform: skew(5deg, 2deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: scale(1, 0.6);
    -moz-transform: scale(1, 0.6);*/
    -webkit-transform: scale(1) skew(2deg) translate(5px) rotate(1deg);
    -moz-transform: scale(1) skew(2deg) translate(5px) rotate(1deg);
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


